<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>fox4_cv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="BreezyCV - Resume / CV / vCard Template" />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio" />
    <meta name="author" content="lmpixels" />
    <link rel="shortcut icon" href="favicon.ico">


<!--    <link rel="stylesheet" href="{% static '/cv/css/reset.css'}" type="text/css">-->
    <link rel="stylesheet" href="{% static 'cv/css/bootstrap-grid.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/animations.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/perfect-scrollbar.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'cv/css/main.css' %}" type="text/css">
  </head>

  <body>
    <!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url(/static/cv/img/main_bg.png);"></div>
    <!-- /Animated Background -->

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div class="page">
      <div class="page-content">

          <header id="site_header" class="header mobile-menu-hide">
            <div class="header-content">
              <div class="header-photo">
                <img src="/static/cv/img/main_photo.jpg" alt="Alex Smith">
              </div>
              <div class="header-titles">
                <h2>Кузнецов Антон</h2>
                <h4>Python developer</h4>
              </div>
            </div>

            <ul class="main-menu">
              <li class="active">
                <a href="#home" class="nav-anim">
                  <span class="menu-icon lnr lnr-home"></span>
                  <span class="link-text">Домой</span>
                </a>
              </li>
              <li>
                <a href="#about-me" class="nav-anim">
                  <span class="menu-icon lnr lnr-user"></span>
                  <span class="link-text">Обо мне</span>
                </a>
              </li>
              <li>
                <a href="#resume" class="nav-anim">
                  <span class="menu-icon lnr lnr-graduation-hat"></span>
                  <span class="link-text">Резюме</span>
                </a>
              </li>
              <li>
                <a href="#portfolio" class="nav-anim">
                  <span class="menu-icon lnr lnr-briefcase"></span>
                  <span class="link-text">Проекты</span>
                </a>
              </li>
              <li>
                <a href="#useful" class="nav-anim">
                  <span class="menu-icon lnr lnr-book"></span>
                  <span class="link-text">Полезное</span>
                </a>
              </li>
              <li>
                <a href="#contact" class="nav-anim">
                  <span class="menu-icon lnr lnr-envelope"></span>
                  <span class="link-text">Контакты</span>
                </a>
              </li>
            </ul>

            <div class="social-links">
              <ul>
                <li><a href="#" target="_blank"><i class="fab fa-hh"></i></a></li>
<!--                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>-->
              </ul>
            </div>

            <div class="header-buttons">
              <a href="/static/cv/CV.pdf" download=""  class="btn btn-primary">Загрузить резюме</a>
            </div>

            <div class="copyrights">© 2024 Все права защищены.</div>
          </header>

          <!-- Mobile Navigation -->
          <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- End Mobile Navigation -->

          <!-- Arrows Nav -->
          <div class="lmpixels-arrows-nav">
            <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
            <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
          </div>
          <!-- End Arrows Nav -->

          <div class="content-area">
            <div class="animated-sections">
              <!-- Home Subpage -->
              <section data-id="home" class="animated-section start-page">
                <div class="section-content vcentered">

                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title-block">
                          <h2>Кузнецов Антон</h2>
                          <div class="owl-carousel text-rotation">                                    
                            <div class="item">
                              <div class="sp-subtitle">Python developer</div>
                            </div>
                            
                            <div class="item">
                              <div class="sp-subtitle">Backend developer</div>
                            </div>

                            <div class="item">
                              <div class="sp-subtitle">Fullstack developer</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </section>
              <!-- End of Home Subpage -->

              <!-- About Me Subpage -->
              <section data-id="about-me" class="animated-section">
                <div class="section-content">
                  <div class="page-title">
                    <h2>Обо <span>мне</span></h2>
                  </div>

                  <!-- Personal Information -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-7">
                      <p>Являюсь Python разработчиком.</p>
                    </div>

                    <div class="col-xs-12 col-sm-5">
                      <div class="info-list">
                        <ul>
                          <li>
                            <span class="title">Возраст</span>
                            <span class="value">35</span>
                          </li>

                          <li>
                            <span class="title">English</span>
                            <span class="value">B1-B2</span>
                          </li>

                          <li>
                            <span class="title">Локация</span>
                            <span class="value">РФ Москва</span>
                          </li>

                          <li>
                            <span class="title">Офис</span>
                            <span class="value">Москва, ул. Зои и Александра Космодемьянских д.26/21 стр.1 офис 10</span>
                          </li>

                          <li>
                            <span class="title">E-mail</span>
                            <span class="value">enter4p@gmail.com</span>
                          </li>

                          <li>
                            <span class="title">Телефон</span>
                            <span class="value">+79060779077</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- End of Personal Information -->

                  <div class="white-space-10"></div>

                  <!-- Git -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="block-title">
                        <h3>Мой <span><a href="https://github.com/ant4p" target="_blank">github</a></span>  </h3>
                      </div>
                    </div>
                  </div>
                  <!-- End of Git -->

                  <div class="white-space-10"></div>

                  <!-- Services -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="block-title">
                        <h3>Мои <span>навыки</span></h3>
                      </div>
                    </div>
                  </div>

                   <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="col-inner">
                        <div class="info-list-w-icon">
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-screen"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Web developing</h4>
                              <p>Создание веб приложений и сайтов на Django с разнообразным функционалом.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-laptop-phone"></i>
                            </div><div class="ci-text">
                              <h4>html/css</h4>
                              <p>Bootstrap. Templates. Адаптация шаблонов.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-spell-check"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Testing</h4>
                              <p>Тестирование веб приложений.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-cloud-check"></i>
                            </div><div class="ci-text">
                              <h4>Server setup</h4>
                              <p>Настройка VPS/VDS. Безопасность подключения. SSH. Fail2ban.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-cloud-upload"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Deploy</h4>
                              <p>Деплой веб приложений и сайтов на VPS/VDS. Подбор хостинга.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-checkmark-circle"></i>
                            </div><div class="ci-text">
                              <h4>Nginx setup</h4>
                              <p>Настройка и конфигурирование WEB сервера NGINX в качестве обратного прокси сервера.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="col-inner">
                        <div class="info-list-w-icon">
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-license"></i>
                            </div>
                            <div class="ci-text">
                              <h4>SSL-certificate</h4>
                              <p>Автоматизация получения бесплатных ssl сертификатов.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-database"></i>
                            </div><div class="ci-text">
                              <h4>Databases setup</h4>
                              <p>Настройка и конфигурирование реляционных баз данных. PosetgreSQL.</p>
                            </div>
                          </div>
                           <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-magic-wand"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Databases query optimization</h4>
                              <p>Оптимизация запросов в БД. Устранение ошибок. ORM. SQL.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-cog"></i>
                            </div><div class="ci-text">
                              <h4>Authomatization</h4>
                              <p>Автоматизация регулярных задач с помощью Python.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-layers"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Docker setup</h4>
                              <p>Настройка и конфигурирование всего вышеперечисленного в Docker.</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-code"></i>
                            </div><div class="ci-text">
                              <h4>Terminal</h4>
                              <p>Linux. Ubuntu server. Unix.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Services -->

                  <div class="white-space-30"></div>

                  <!-- Setup -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">

                      <div class="block-title">
                        <h3>Мой <span>сетап</span></h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">
                      <div class="fw-pricing clearfix row">

                        <div class="fw-package-wrap col-md-6 highlight-col ">
                          <div class="fw-package">
                            <div class="fw-heading-row">
                              <span>Технологии</span>
                            </div>

                            <div class="fw-default-row">
                              <p>
                                Python 3 <br>
                                Django / DRF <br>
                                PostgreSQL / SQLite <br>
                                Git <br>
                                SSL (https) <br>
                                Docker / Docker-compose <br>
                                Nginx <br>
                                Gunicorn <br>
                                Django ORM, SQL <br>
                                Unittest <br>
                                Html / CSS / Templates <br>
                                Bootstrap 5 <br>
                                Selenium / BS4 <br>
                                Ubuntu server <br>
                                Terminal <br>
                                SSH <br>
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="fw-package-wrap col-md-6 highlight-col ">
                          <div class="fw-package">
                            <div class="fw-heading-row">
                              <span>Железо</span>
                            </div>
                            <div class="fw-default-row">
                              <p>
                                Lenovo ThinkPad T460S i7-6600 20/256 <br>
                                Huawei MateBook D16 AMD Ryzen 5 16/512 <br>
                                MacBook Air 13 2017 i5 8/128 <br>
                                Мониторы NEC MultiSync E223W - 2 шт. <br>
                                МФУ Brother MFC-L2720DWR <br>
                                Клавиатура - механика K3 / мышь Gembird<br>
                                Док-станция Lenovo Ultra Dock 90W<br>
                                Док-станция Lenovo TP USB-C Dock Gen2<br>
                                Сервер - miniPC X86 Celeron N3160 8/128<br>
                                с пониженным энергопотреблением.
                              </p>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!-- End of Setup -->

                  <div class="white-space-50"></div>

                  <!-- Fun Facts -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">

                      <div class="block-title">
                        <h3>Чем ещё могу быть <span>полезен</span></h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="fun-fact gray-default">
                        <i class="lnr lnr-pie-chart"></i>
                        <h4>Финансы и налоги</h4>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                      <div class="fun-fact gray-default">
                        <i class="lnr lnr-history"></i>
                        <h4>Автоматизация и оптимизация</h4>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 ">
                      <div class="fun-fact gray-default">
                        <i class="lnr lnr-chart-bars"></i>
                        <h4>Закупки и кредитование</h4>
                      </div>
                    </div>
                  </div>
                  <!-- End of Fun Facts -->

                </div>
              </section>
              <!-- End of About Me Subpage -->

              <!-- Resume Subpage -->
              <section data-id="resume" class="animated-section">
                <div class="section-content">
                  <div class="page-title">
                    <h2>Резюме</h2>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-7">

                      <div class="block-title">
                        <h3>Образование</h3>
                      </div>

                      <div class="timeline timeline-second-style clearfix">
                        <div class="timeline-item clearfix">
                          <div class="left-part">
                            <h5 class="item-period">2007-2012</h5>
                            <span class="item-company">ВятГУ</span>
                          </div>
                          <div class="divider"></div>
                          <div class="right-part">
                            <h4 class="item-title">Экономист</h4>
                            <p>Высшее образование. Вятский Государственный Университет. Специальность "Финансы и кредит"</p>
                          </div>
                        </div>
                      </div>

                      <div class="white-space-50"></div>

                      <div class="block-title">
                        <h3>Опыт</h3>
                      </div>

                      <div class="timeline timeline-second-style clearfix">
                        <div class="timeline-item clearfix">
                          <div class="left-part">
                            <h5 class="item-period">2022 - на данный момент</h5>
                            <span class="item-company">freelance</span>
                          </div>
                          <div class="divider"></div>
                          <div class="right-part">
                            <h4 class="item-title">Python developer</h4>
                            <p>Разработка веб-приложений. Автоматизация и цифровизация бизнеса.</p>
                          </div>
                        </div>

                        <div class="timeline-item clearfix">
                          <div class="left-part">
                            <h5 class="item-period">2014 - 2022</h5>
                            <span class="item-company">Бизнес</span>
                          </div>
                          <div class="divider"></div>
                          <div class="right-part">
                            <h4 class="item-title">___</h4>
                            <p>Бизнес в сфере автоматизации и оптимизации рабочих процессов
                              в операционном управлении рисками и финансами.</p>
                          </div>
                        </div>

                      </div>

                    </div>

                    <!-- Skills & Certificates -->
                    <div class="col-xs-12 col-sm-5">
                      <!-- Design Skills -->
                      <div class="block-title">
                        <h3>Стек <span>технологий</span></h3>
                      </div>

                      <div class="item-title">
                        <!-- Skill 1 -->
                        <div class="item-title">
                          <p>
                                Python 3 <br>
                                Django / DRF <br>
                                PostgreSQL / SQLite <br>
                                Git <br>
                                SSL (https) <br>
                                Docker / Docker-compose <br>
                                Nginx <br>
                                Gunicorn <br>
                                Django ORM, SQL <br>
                                Unittest <br>
                                Html / CSS / Templates <br>
                                Bootstrap 5 <br>
                                Selenium / BS4 <br>
                                Ubuntu server <br>
                                Terminal <br>
                                SSH <br>
                                Google Docs / MS Office <br>
                                1C опционально на уровне пользователя <br>
                              </p>
                        </div>
                        <!-- End of Skill 1 -->
                      </div>
                      <!-- End of Design Skills -->

                      <div class="white-space-10"></div>
                    </div>
                    <!-- End of Skills & Certificates -->
                  </div>

                  <div class="white-space-50"></div>

                  <!-- Certificates -->
                  <div class="row">
                    <div class="block-title">
                        <h3>Тэги</h3>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                      <ul class="knowledges">
                        <li>dev</li>
                        <li>backend</li>
                        <li>fullstack</li>
                        <li>git</li>
                        <li>python</li>
                        <li>django</li>
                        <li>drf</li>
                        <li>admin</li>
                        <li>deploy</li>
                        <li>test</li>
                        <li>ssh</li>
                        <li>ssl</li>
                        <li>MS Office</li>
                        <li>Google Docs</li>
                        <li>linux</li>
                        <li>Unix</li>
                        <li>terminal</li>
                        <li>VPS</li>
                        <li>server</li>
                        <li>html</li>
                        <li>css</li>
                        <li>bootstrap 5</li>
                        <li>control panel</li>
                        <li>DNS</li>
                        <li>NGINX</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
              <!-- End of Resume Subpage -->

              <!-- Portfolio Subpage -->
              <section data-id="portfolio" class="animated-section">
                <div class="section-content">
                  <div class="page-title">
                    <h2>Проекты</h2>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <!-- Portfolio Content -->
                      <div class="portfolio-content">

                        <ul class="portfolio-filters">
                          <li class="active">
                            <a class="filter btn btn-sm btn-link" data-group="category_all">Все</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_detailed">Web</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_mockups">...</a>
                          </li>

                        </ul>

                        <!-- Portfolio Grid -->
                        <div class="portfolio-grid three-columns">

                          <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                            <div class="portfolio-item-img">
                              <img src="/static/cv/img/portfolio/hikingapp/hikingapp-main.jpg" alt="Media Project 2" title="" />
                              <a href="/static/cv/portfolio-1.html" class="ajax-page-load"></a>
                            </div>

                            <i class="far fa-file-alt"></i>
                            <h4 class="name">Hikingapp.ru</h4>
                            <span class="category">Web</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                            <div class="portfolio-item-img">
                              <img src="/static/cv/img/portfolio/bg2b/bg2b-main.jpg" alt="Media Project 1" title="" />
                              <a href="/static/cv/portfolio-2.html" class="ajax-page-load"></a>
                            </div>

                            <i class="far fa-file-alt"></i>
                            <h4 class="name">Банковские гарантии для бизнеса</h4>
                            <span class="category">Web</span>
                          </figure>

                        </div>
                      </div>
                      <!-- End of Portfolio Content -->
                    </div>
                  </div>
                </div>
              </section>
              <!-- End of Portfolio Subpage -->

              <!-- Blog Subpage -->

              <section data-id="useful" class="animated-section">
                <div class="section-content">
                  <div class="page-title">
                    <h2>Полезное</h2>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <!-- Portfolio Content -->
                      <div class="portfolio-content">

                        <ul class="portfolio-filters">
                          <li class="active">
                            <a class="filter btn btn-sm btn-link" data-group="category_all">Все</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_web">Web</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_server">Server</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_windows">Windows</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_docker">Docker</a>
                          </li>
                          <li>
                            <a class="filter btn btn-sm btn-link" data-group="category_english">English</a>
                          </li>

                        </ul>

                        <!-- Posts Grid -->
                        <div class="portfolio-grid three-columns">

                          <figure class="item standard" data-groups='["category_all", "category_server"]'>
                            <i class="far fa-file-alt"></i>
                            <h4 class="name">Первоначальная настройка сервера Ubuntu 22.04 LTS</h4 >
                            <a href="/static/cv/post-s-1.html" class="ajax-page-load"></a>
                            <span class="category">Server</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_server"]'>
                            <i class="far fa-file-alt"></i>
                            <h4 class="name">Установка и устранение проблем Fail2ban на Ubuntu 22.04 LTS</h4>
                            <a href="/static/cv/post-s-2.html" class="ajax-page-load"></a>
                            <span class="category">Server</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_docker"]'>
                            <i class="far fa-file-alt"></i>
                            <h4 class="name">Установка и настройка Docker и Docker Compose на Ubuntu 22.04 LTS</h4>
                            <a href="/static/cv/post-d-1.html" class="ajax-page-load"></a>
                            <span class="category">Docker</span>
                          </figure>
                          <figure class="item standard" data-groups='["category_all", "category_docker"]'>
                            <i class="far fa-file-alt"></i>
                            <h4 class="name">Использование зеркал для Docker</h4>
                            <a href="/static/cv/post-d-2.html" class="ajax-page-load"></a>
                            <span class="category">Docker</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_windows"]'>
                            <i class="far fa-file-alt"></i>
                            <h4 class="name">Указываем PATH в Windows 10</h4>
                            <a href="/static/cv/post-w-1.html" class="ajax-page-load"></a>
                            <span class="category">Windows</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_windows"]'>
                            <i class="far fa-file-alt"></i>
                            <h4 class="name">Устранение неполадок CHCP</h4>
                            <a href="/static/cv/post-w-2.html" class="ajax-page-load"></a>
                            <span class="category">Windows</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_english"]'>
                            <i class="far fa-file-alt"></i>
                            <h4 class="name">English for programming vol.1</h4>
                            <a href="/static/cv/post-e-1.html" class="ajax-page-load"></a>
                            <span class="category">English</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_english"]'>
                            <i class="far fa-file-alt"></i>
                            <h4 class="name">English for programming vol.2</h4>
                            <a href="/static/cv/post-e-2.html" class="ajax-page-load"></a>
                            <span class="category">English</span>
                          </figure>

                          <figure class="item standard" data-groups='["category_all", "category_english"]'>
                            <i class="far fa-file-alt"></i>
                            <h4 class="name">English for programming vol.3</h4>
                            <a href="/static/cv/post-e-3.html" class="ajax-page-load"></a>
                            <span class="category">English</span>
                          </figure>



                        </div>
                      </div>
                      <!-- End of Portfolio Content -->
                    </div>
                  </div>
                </div>
              </section>



              <!-- Contact Subpage -->
              <section data-id="contact" class="animated-section">
                <div class="section-content">
                  <div class="page-title">
                    <h2>Контакты</h2>
                  </div>

                  <div class="row">
                    <!-- Contact Info -->
                    <div class="col-xs-12 col-sm-4">
<!--                      <div class="lm-info-block gray-default">-->
<!--                        <i class="lnr lnr-map-marker"></i>-->
<!--                        <h4>Москва, ул. Зои и Александра Космодемьянских д.26/21 стр.1 офис 10 </h4>-->
<!--                        <span class="lm-info-block-value"></span>-->
<!--                        <span class="lm-info-block-text"></span>-->
<!--                      </div>-->

                      <div class="lm-info-block gray-default">
                        <i class="lnr lnr-phone-handset"></i>
                        <h4> +79060779077</h4>
                        <span class="lm-info-block-value"></span>
                        <span class="lm-info-block-text"></span>
                      </div>

                      <div class="lm-info-block gray-default">
                        <i class="lnr lnr-envelope"></i>
                        <h4>enter4p@gmail.com</h4>
                        <span class="lm-info-block-value"></span>
                        <span class="lm-info-block-text"></span>
                      </div>

                      <div class="lm-info-block gray-default">
                        <i class="lnr lnr-checkmark-circle"></i>
                        <h4>Доступен для работы</h4>
                        <span class="lm-info-block-value"></span>
                        <span class="lm-info-block-text"></span>
                      </div>


                    </div>
                    <!-- End of Contact Info -->

                    <!-- Contact Form -->
                    <div class="col-xs-12 col-sm-8">
                        <div class="lm-info-block gray-default">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.318959908389!2d37.515199077061816!3d55.82242288662638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5482f39e6ad0d%3A0x8e2336df741a6b32!2z0JfQvtC4INC4INCQ0LvQtdC60YHQsNC90LTRgNCwINCa0L7RgdC80L7QtNC10LzRjNGP0L3RgdC60LjRhSDRg9C7LiwgMjYvMjEg0YHRgtGA0L7QtdC90LjQtSAxLCDQnNC-0YHQutCy0LAsIDEyNTEzMA!5e0!3m2!1sru!2sru!4v1722608417434!5m2!1sru!2sru"
                                  width="400" height="207" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                          <span class="lm-info-block-value"></span>
                          <span class="lm-info-block-text"></span>
                        </div>

                        <div class="lm-info-block gray-default">
                          <i class="lnr lnr-map-marker"></i>
                          <h4>Москва, ул. Зои и Александра Космодемьянских д.26/21 стр.1 офис 10 </h4>
                          <span class="lm-info-block-value"></span>
                          <span class="lm-info-block-text"></span>
                        </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- End of Contact Subpage -->
            </div>
          </div>

      </div>
    </div>

    <script src="/static/cv/js/jquery.min.js"></script>
    <script src="/static/cv/js/modernizr.custom.js"></script>
    <script src="/static/cv/js/animating.js"></script>

    <script src="/static/cv/js/imagesloaded.pkgd.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src='/static/cv/js/perfect-scrollbar.min.js'></script>
    <script src='/static/cv/js/jquery.shuffle.min.js'></script>
    <script src='/static/cv/js/masonry.pkgd.min.js'></script>
    <script src='/static/cv/js/owl.carousel.min.js'></script>
    <script src="/static/cv/js/jquery.magnific-popup.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDf32aQTCVENBhFJbMBKOUTiUAABtC2o"></script>
    <script src="/static/cv/js/jquery.googlemap.js"></script>
    <script src="/static/cv/js/validator.js"></script>
    <script src="/static/cv/js/main.js"></script>
  </body>
</html>
